body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", "Microsoft Sans Serif", sans-serif;
  height: 250px;
  width: 300px;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  position: fixed; /* 고정 위치 */
  top: 0;
  left: 0;
  z-index: 1000; /* 맨 앞에 배치 */
}

/* 왼쪽 아이콘과 텍스트 그룹 */
.title-left {
  display: flex;
  align-items: center; /* 아이콘과 텍스트 세로 정렬 */
}

/* 아이콘 스타일 */
.link_bucket_icon {
  width: 24px;
  height: 24px;
  margin-right: 8px; /* 텍스트와 간격 */
}

.link_bucket_title {
  font-size: 20px;
  font-weight: 500;
}

.toggle-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.button {
  padding: 5px 10px;
  margin-right: 20px;
  font-family: "Pretendard-Regular", -apple-system, BlinkMacSystemFont, Roboto,
    "Segoe UI", "Microsoft Sans Serif", sans-serif;
  font-size: 14px;
  cursor: pointer;
  border: none;
  background-color: #2196f3;
  color: white;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #1976d2;
}

.title-text-container {
  width: 90%;
  max-width: 250px;
  position: relative;
}

.input-field,
.textarea-field {
  width: 100%; /* 부모 요소 너비 사용 */
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea-field {
  height: 200px;
  resize: none;
}

.dropdown-container {
  position: absolute;
  top: 370px;
  width: 90%;
  max-width: 250px;
}

.dropdown {
  width: 100%;
  height: 30px;
}

.tag-container {
  position: absolute;
  top: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 10px;
}

.category-tag {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.remove-button {
  margin-left: 5px;
  border: none;
  background: none;
  cursor: pointer;
  color: #d9534f;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.button-group {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  margin: 20px 0;
}

/* Toggle Button */
.toggle-button {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 120px;
}

/* Active State */
.toggle-button.active {
  color: #ffffff;
  border-color: #007bff;
  background-color: #2196f3;
}

/* Hover State */
.toggle-button:hover {
  border-color: #007bff;
}

.link-home-container {
  display: flex;
  align-items: center;
  position: fixed;
  text-align: center;
  top: 170px;
}

.link-homepage {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.link-homepage:hover {
  text-decoration: underline;
}

.closeTabsCheckbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 250px;
  margin-bottom: 30px; /* 버튼 그룹과 간격 */
  position: relative; /* 중앙 정렬 */
  top: 45px;
}

.homepage-link {
  display: block;
  margin: 17px 0 0; /* 위쪽 여백을 20px로 설정 */
  text-align: center;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.homepage-link:hover {
  text-decoration: underline;
}